@page "/board"
<div class="container">
    @if (_players != null && Owner != null)
    {
        <MatChipSet>
            @foreach (Player player in _players)
            {
                <MatChip Label="@GetPlayerName(player)" LeadingIcon="person"
                         Style="@(player == _turn ? "background-color:#4caf50" : "background-color: #e0e0e0")">
                </MatChip>
            }
        </MatChipSet>
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin center">
                        Table
                    </MatHeadline6>
                </div>

                <div class="card">
                    <img src="assets/cards/back.png" alt="@_faceUp?.Rank of @_faceUp?.Suit">
                    <img src="@_faceUp?.Image" alt="@_faceUp?.Rank of @_faceUp?.Suit">
                </div>
            </MatCardContent>
        </MatCard>

        @if (_myCards != null)
        {
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin center">
                            Your Hand
                        </MatHeadline6>
                    </div>

                    <div class="card">
                        @foreach (Card card in _myCards)
                        {
                            <img src="@card?.Image" alt="@card?.Rank of @card?.Suit">
                        }
                    </div>
                </MatCardContent>
            </MatCard>
            <MatSelect Label="Pick a Card" @bind-Value="@_choice">
                @for (int i = 0; i < _myCards.Length; i++)
                {
                    int index = i;
                    <MatOption TValue="int" Value="@i">@_myCards[index].Rank of @_myCards[index].Suit</MatOption>
                }
            </MatSelect>
            <MatButton Raised="true" OnClick="PlayChoice" Disabled="!IsMyTurn()">Play</MatButton>
        }
    }
    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogTitle>Crazy 8</MatDialogTitle>
        <MatDialogContent>
            <p>What suit do you want?</p>
            <MatSelect TValue="string" Label="Title" bind-Value="dialogSuit">
                <MatOptionString Value="dr">Spades</MatOptionString>
                <MatOptionString Value="prof">Clubs</MatOptionString>
                <MatOptionString Value="prof">Hearts</MatOptionString>
                <MatOptionString Value="prof">Diamonds</MatOptionString>
            </MatSelect>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { dialogIsOpen = false; })">No Thanks</MatButton>
            <MatButton OnClick="@OkClick">OK</MatButton>
        </MatDialogActions>
    </MatDialog>
</div>