@page "/board"
@using Crazy8.Constants
@using Crazy8Web.Utils
<div class="container">
    @if (_players != null && Owner != null)
    {
        <div class="chips-container">
            <MatChipSet class="player-chips">
                @foreach (Player player in _players)
                {
                    <MatChip Label="@GetPlayerName(player)" LeadingIcon="person"
                             Style="@(player == _turn ? "background-color:#4caf50" : "background-color: #e0e0e0")">
                    </MatChip>
                }
            </MatChipSet>
            @if (_attacks > 0)
            {
                <div class="anim-chip">
                    <MatChipSet class="attacks-chip">
                        <MatChip Label="@GetAttacks()" LeadingIcon="bolt"
                                 Style="background-color:#f44336;">
                        </MatChip>
                    </MatChipSet>
                </div>
               
            }
        </div>

        <div class="demo-mat-card">
            <div class="demo-mat-card-content desk-header">
                <MatHeadline6 class="demo-mat-card-clean-margin center">
                    Table
                </MatHeadline6>
            </div>
            <div class="desk-content">
                <div class="card">
                    <img src="assets/cards/back.png" alt="@_faceUp?.Rank of @_faceUp?.Suit">
                    @if (_requireSuit && !string.IsNullOrEmpty(GameService.GetRequiredSuit()))
                    {
                        <img src="@Utility.GetCardImage(GameService.GetRequiredSuit()!.ToLower())"
                             alt="GameService.GetRequiredSuit()!">
                    }
                    else
                    {
                        <img src="@_faceUp?.Image" alt="@_faceUp?.Rank of @_faceUp?.Suit" class="table-card">
                    }
                </div>
            </div>
        </div>

        @if (_myCards != null)
        {
            <div class="demo-mat-card">
                <div class="demo-mat-card-content desk-header">
                    <MatHeadline6 class="demo-mat-card-clean-margin center">
                        Your Hand
                    </MatHeadline6>
                </div>
                <div class="desk-content hand-container">
                    <div class="card">
                        @for (int i = 0; i < _myCards.Length; i++)
                        {
                            Card card = _myCards[i];
                            bool isSelected = _tempChoice == i;
                            int pos = i;
                            <img src="@card?.Image" @onclick="() => SelectCard(pos)"
                                 class="fan-card @(IsMyTurn() ? isSelected ? "play-card selected" : "play-card" : "no-play")" alt="@card?.Rank of @card?.Suit">
                        }
                    </div>
                </div>
            </div>

            <div class="button-container">
                <MatButton Raised="true" OnClick="Skip" class="btnSkip" Disabled="!IsMyTurn()">Skip</MatButton>
            </div>
        }
    }
    <MatDialog @bind-IsOpen="@_dialogIsOpen" Id="dialog-box">
        @if (IsMyTurn())
        {
            <MatDialogTitle>Crazy 8</MatDialogTitle>
            <MatDialogContent>
                <p>What suit do you want?</p>
                <MatSelectValue Label="Suit" @bind-Value="@_dialogSuit" Items="@Const.Suits"
                                ValueSelector=@(name => name)>
                </MatSelectValue>
            </MatDialogContent>
            <MatDialogActions>
                <MatButton OnClick="@OkClick">OK</MatButton>
            </MatDialogActions>
        }
        else
        {
            <MatDialogContent>
                <MatH4>Please wait for player to pick a suit...</MatH4>
            </MatDialogContent>
        }
    </MatDialog>
</div>