@page "/board"
<div class="container">
    @if (_players != null && Owner != null)
    {
        <MatChipSet>
            @foreach (Player player in _players)
            {
                <MatChip Label="@GetPlayerName(player)" LeadingIcon="person"
                         Style="@(player == _turn ? "background-color:#4caf50" : "background-color: #e0e0e0")">
                </MatChip>
            }
        </MatChipSet>
        <MatCard class="demo-mat-card">
            <MatCardContent>
                <div class="demo-mat-card-content">
                    <MatHeadline6 class="demo-mat-card-clean-margin">
                        Face Up Card
                    </MatHeadline6>
                </div>

                <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                    @_faceUp?.Rank of @_faceUp?.Suit
                </MatBody2>
            </MatCardContent>
        </MatCard>
        @if (_myCards != null)
        {
            <MatCard class="demo-mat-card">
                <MatCardContent>
                    <div class="demo-mat-card-content">
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Your Hand
                        </MatHeadline6>
                    </div>

                    @foreach (Card card in _myCards)
                    {
                        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">@card?.Rank of @card?.Suit</MatBody2>
                    }
                </MatCardContent>
            </MatCard>
            <MatSelect Label="Pick a Food Group" @bind-Value="@_choice">
                @for (int i = 0; i < _myCards.Length; i++)
                {
                    int index = i;
                    <MatOption TValue="int" Value="@i">@_myCards[index].Rank of @_myCards[index].Suit</MatOption>
                }
            </MatSelect>
            <MatButton Outlined="true" OnClick="PlayChoice" Disabled="!IsMyTurn()">Play</MatButton>
        }   
    }
</div>